@using Sitecore.Mvc

<div class="sublayout sublayout_column1"><div class="sublayout_inner1"><div class="sublayout_inner2">
	<div class="debug_header">Column1Rendering.cshtml</div>
	<div class="column column1">
		@Html.Sitecore().Placeholder("sandboxsites_shared_subregion_column1")
	</div>
</div></div></div>
