@using Sitecore.Mvc

<div class="sublayout sublayout_column2"><div class="sublayout_inner1"><div class="sublayout_inner2">
	<div class="debug_header">Column2Rendering.cshtml</div>
	<div class="column column1">
		@Html.Sitecore().Placeholder("sandboxsites_shared_subregion_column1")
	</div>
	<div class="column column2">
		@Html.Sitecore().Placeholder("sandboxsites_shared_subregion_column2")
	</div>
</div></div></div>
