@using Sitecore.Mvc

<div class="widget widget_epilson"><div class="widget_inner1"><div class="widget_inner2">
	<div class="debug_header">EpilsonWidgetRendering.cshtml</div>
	<div class="header">
		@Html.Sitecore().Field("WidgetTitle")
	</div>
	<div class="body">
		@Html.Sitecore().Field("WidgetBody")
	</div>
	<div class="footer">
		@Html.Sitecore().Field("WidgetFooter")
	</div>
	@Html.Partial("~/Areas/Shared/Views/Shared/_DebugRendering.cshtml")
</div></div></div>
