<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="User Instance=True;Trusted_Connection=True;Server=.\SQLExpress;AttachDBFilename=C:\Sites\sandbox3.sitecore.net.databases\Sitecore.Core.MDF" />
  <add name="master" connectionString="User Instance=True;Trusted_Connection=True;Server=.\SQLExpress;AttachDbFileName=C:\Sites\sandbox3.sitecore.net.databases\Sitecore.Master.MDF" />
  <add name="web" connectionString="User Instance=True;Trusted_Connection=True;Server=.\SQLExpress;AttachDbFileName=C:\Sites\sandbox3.sitecore.net.databases\Sitecore.Web.MDF" />

  <!--
  <add name="core" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Core" />
  <add name="master" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Master" />
  <add name="web" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Web" />
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />
  <add name="reporting" connectionString="user id=user;password=password;Data Source=(server);Database=Sitecore_Analytics" />
  -->
</connectionStrings>
