@using Sitecore.Mvc

<div class="splash"><div class="splash_inner1"><div class="splash_inner2">
	<div class="debug_header">SplashRendering.cshtml</div>
	<div class="body">
		@Html.Sitecore().Field("ContentSplashImage")
	</div>
</div></div></div>
